{{('message' in globals())}}
{{extend 'layout.html'}}

{{if 'message' in globals():}}
<div style="text-align:center">
<h1>{{=message}}</h1>
<a href="{{=URL('user','register')}}"><button type="button" class="btn btn-success btn-lg btn-signup">Sign Up</button></a>
<hr />
<h2>{{=T('What can we do for you?')}}</h2>
  <h3>{{=T('We will check daily markdown deals for you. Every Day!')}}<div><img src="http://imgur.com/MeOLwnq.png" alt="Sample Daily Markdown" width=480 style="margin:15px 0 0" /></div></h3><hr />
  <h3>{{=T('We will match it to your customized criteria.')}}<div><img src="http://i.imgur.com/AG88yMt.png" alt="Sample Daily Markdown" style="border: 5px solid #073642;margin:15px 0 0" /></div></h3>
  We have two filters for now. More in the making!
  <hr />

  <h3>{{=T('We will then deliver the sale item you desire to you by email.')}}<div><img src="http://i.imgur.com/OmuCifl.png" alt="Sample Daily Markdown" width=540 /></div></h3><hr />
  <h3>{{=T('To have L.L.Bean Daily Sales sent to your inbox. Sign Up Now:')}}</h3>
  <a href="{{=URL('user','register')}}"><button type="button" class="btn btn-success btn-lg btn-signup">Sign Up</button></a>
</div>
{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}